<style>
    input {
        margin-bottom: 10px;
    }
</style>

<div style="width: 400px; padding: 50px">
<%= form_tag(lucky_nums_output_path, method: "post") do |f| %>
    <%= label_tag "from", "From" %>
    <%= number_field_tag('from', 0, class: "form-control col-12", min: 0, max: 999999, required: true) %>
    <%= label_tag "to", "To" %>
    <%= number_field_tag('to', 999999, class: "form-control col-12", min: 0, max: 999999, required: true) %>
    <%= submit_tag("Calculate Lucky Numbers!", class: "btn btn-primary col-12") %>
<% end %>

<%= button_to("Get all cached data", { action: :data, format: :xml }, method: :get, class: "btn btn-outline-primary col-12") %>
</div>